<!-- Topbar Start -->
<ul class="list-unstyled topnav-menu float-right mb-0">
    <li class="dropdown notification-list">
        <a aria-expanded="false" aria-haspopup="false" class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" data-toggle="dropdown" href="#" role="button">
            <i class="fe-user"></i>
            <span class="pro-user-name ml-1">
                Reportes
                <i class="mdi mdi-chevron-down"></i>
            </span>
        </a>
        <div  class="dropdown-menu dropdown-menu-right profile-dropdown ">
            <!-- item-->
            <a class="dropdown-item notify-item" href="/" >
                <i class="fe-user"></i>
                <span>Reporte de personas</span>
            </a>
            <!-- item-->
            <a class="dropdown-item notify-item" }}>
                <i class="fe-settings"></i>
                <span> Reporte de areas</span>
            </a>
        </div>
    </li>
</ul>
<!-- end Topbar -->