<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <!-- App css -->
            <link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
            <link href="assets/css/icons.css" rel="stylesheet" type="text/css" />
            <link href="light-horizontal/css/app.css" rel="stylesheet" type="text/css" />
        {% endblock %}
    </head>
    <body>
        <!-- Begin page -->
        <div id="wrapper">
            <!-- Topbar Start -->
            <div class="navbar-custom">
                {% block topbar %}
                    {{include('partials/navbar-start.html.twig')}}
                {% endblock %}
            </div>
            <!-- end Topbar -->

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <div class="content">
                <div class="container-fluid"></div>
                {% block container %}{% endblock %}
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->

            <!-- Footer Start -->
            <div class="footer">
                {% block footer %}
                    {{include('partials/footer-start.html.twig')}}
                {% endblock %}
            </div>
            <!-- end Footer -->
        </div>
        <!-- END wrapper -->

        {% block javascripts %}
            <!-- Vendor js -->
            <script src="assets/js/vendor.js"></script>
            <!-- Plugins js-->
            <script src="assets/libs/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>

            <!-- Init js-->
            <script src="assets/js/pages/form-wizard.init.js"></script>
            <!-- Sweet Alerts js -->
            <script src="assets/libs/sweetalert2/sweetalert2.min.js"></script>

            <!-- Sweet alert init js-->
            <script src="assets/js/pages/sweet-alerts.init.js"></script>
            <!-- App js-->
            <script src="assets/js/app.js"></script>
            
        {% endblock %}
    </body>
</html>
